{% extends 'main.html' %}


{% block title%} 

   Main

{% endblock %} 


   

{% block body%} 

   
   
   
   <div class="cfelx1">
      
      
     {% include 'Authorized/Sidebar.html' %}
      
      <div class="flq_65per"> 
      
      <div class="mrtop20"></div>
     
 
         <!-- -->
         
         
         
          <div class="wm99">
      
      
          <div class="onLineDivFlex">
               <a href="/online/"> Online 1</a>
          </div>           
                       
      
      
            <div class="widget">
      
             
             
          
                        
       <div class="chat-txt"> 
          
          <form action="?" method="post">
             {% csrf_token %}
             <div class="row">
                
               <div class="col-2">
                  <img width="40" src="/media/us_man.png"/>
               </div>
                  
               <div class="col-8">
                  <input type="text" name="txt" class="form-control">
               </div>
               
               <div class="col-2">
                  <button class="btn btn-danger">Send</button> 
               </div>
                  
             </div>
                           
          </form>                 
                           
                           
                           
                           

      </div>
      
      
      
      
      
      </div>
      
      
      
        <div class="widgetForChatS">
      
               {% for Fetch in Data %}
                  
                     <div class="text" style="">
                        
            
                Post id:  {{Fetch.id}} <br/> 
                  poster:  {{Fetch.poster}} <br/>    
                   reply_type  {{Fetch.reply}} <br/>
                     Text: <p class="BreakingThword">{{Fetch.text}}</p> <br/>
                    type:  {{Fetch.post_type}} <br/>
                     Username  {{Fetch.us_id.username}} <br/>   
                     When posted {{ Fetch.us_id.last_login }} 
                       <br/>
                       -------------------------------------
                     </div>
             
               {% endfor %}
         </div>
            
      
      
      
      </div>
   
   
         
         
         
         
         
         <!-- -->
  
     
      
     
   
   
   </div>
   
   
   
     {% include 'Authorized/RightSide.html' %}
      
   
   

   
   
   </div>
{% endblock %}


{% block footer%}

   <div>qweqwe</div>

 {% endblock %}
