{% extends 'main.html' %}


{% block title%} 

   Changing the password

{% endblock %} 


   

{% block body%} 

   
   
   
   <div class="cfelx1">
      
      
  {% include 'Authorized/Sidebar.html' %}
      
      <div class="flq_65per"> 
      
      <div class="mrtop20"></div>
     
 
         <!-- -->
         
         
         
          <div class="wm99">
      
      
          <div class="">
             <div class="pstrHr1d text">Change password</div>
          </div>           
                       
      
      
            <div class="widget">
      
             
          
          
          {% if  messages %}
          
          
               {% for message in messages %}
                     <div class="text">{{message}}</div>
               {% endfor %}
               
               
          {% endif %}   
          
                        
       <div class="chat-txt"> 
          
          
          
          
          <form action="?" method="post">
             {% csrf_token %}
             <div class="row">
                
               <div class="col-12 mrbot15q">
                  <label>New password</label>
                  <input type="text" name="npass" required minlength="5" maxlength="100" class=""/>
               </div>
                  
               <div class="col-12 mrbot15q">
                  <label>Old password</label>
                  <input type="text" name="opass"  required minlength="5" maxlength="100"  class="">
               </div>
               
               <div class="col-12 mrbot15q">
                  <button class="nbtn">Change</button> 
               </div>
                  
             </div>
                           
          </form>                 
                           
                           
                           
                           

      </div>
      
      
      
      
      
      </div>
      
      
      
        <div class="widgetForChatS">
      
               {% for Fetch in Data %}
                  
                     <div class="text" style="">
                        
            
                Post id:  {{Fetch.id}} <br/> 
                  poster:  {{Fetch.poster}} <br/>    
                   reply_type  {{Fetch.reply}} <br/>
                     Text: <p class="BreakingThword">{{Fetch.text}}</p> <br/>
                    type:  {{Fetch.post_type}} <br/>
                     Username  {{Fetch.us_id.username}} <br/>   
                     When posted {{ Fetch.us_id.last_login }} 
                       <br/>
                       -------------------------------------
                     </div>
             
               {% endfor %}
         </div>
            
      
      
      
      </div>
   
   
         
         
         
         
         
         <!-- -->
  
     
      
     
   
   
   </div>
   
   
   
   <div class="flq_15per">
   
        <div class="wmForDivsion_20">
      
            <div class="klz_1zqq1">
               
               <div class="zppq_z15"></div>
               <h5 class="text tcenter">Contacts</h5>
                  
                  <ul class="ulMnForOnlineSusers">
                     
                     <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                         <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                     
                          <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                     
                          <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                     
                          <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                     
                          <li>
                        <img src="/media/d2593ea28e200997071b63af8909257e.jpg"/> 
                        <a href=""> Lovely dovely</a>
                     </li>
                  </ul>
               
            </div>
      
      </div>
   
   </div>
   
   
   
   </div>
{% endblock %}


{% block footer%}

   <div>qweqwe</div>

 {% endblock %}
